In [1]:
## analysis of bee colonies data

In [2]:
# for this analysis I will be look at dataset from 
# this dataset contains

1. how long is this dataset?
2. what is the total(sum)/average (mean) of a column of interest?
3. how long is this dataset once you filter to a ceratain column's value?
4. what are different values available in a single column?(unique values)
5. how frequently do these values appear in this column?(value_counts)
6. are there any columns that need to be cleaned with an apply function?
7. what are number of unique values in a single column?(nunique)
8. what is the max/min value of a select column?
9. what is the max/min value of a select column?
10. what are the sum/mean of a column once it's grouped?(groupby+)

In [3]:
import pandas as pd
import altair as alt

In [4]:
pd.set_option('display.max_columns', None) # does not truncate columns

In [5]:
## A set up

In [6]:
### Read in your data
# if your data is most likely a csv, though pandas can read lot of different datasets.
# if it is json file, check notebook 14

In [7]:
## read your data

In [8]:
bees = pd.read_csv('bees.csv')

In [9]:
#1

In [10]:
len(bees) # this dataset has 2669 entries

2669

In [11]:
bees.duplicated().any() # are there duplicated lines?

False

In [12]:
bees[bees.duplicated()] # see duplicate rows

Empty DataFrame
Columns: [Program, Year, Period, Week Ending, Geo Level, State, State ANSI, Ag District, Ag District Code, County, County ANSI, Zip Code, Region, watershed_code, Watershed, Commodity, Data Item, Domain, Domain Category, Value, CV (%)]
Index: []

In [13]:
bees.head(1)

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,County ANSI,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,SURVEY,2021,MARKETING YEAR,NaN,STATE,ALABAMA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"8,000",NaN

In [14]:
bees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2669 entries, 0 to 2668
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Program           2669 non-null   object
 1   Year              2669 non-null   int64
 2   Period            2669 non-null   object
 3   Week Ending       0 non-null      float64
 4   Geo Level         2669 non-null   object
 5   State             2669 non-null   object
 6   State ANSI        2613 non-null   float64
 7   Ag District       0 non-null      float64
 8   Ag District Code  0 non-null      float64
 9   County            0 non-null      float64
 10  County ANSI       0 non-null      float64
 11  Zip Code          0 non-null      float64
 12  Region            0 non-null      float64
 13  watershed_code    2669 non-null   int64
 14  Watershed         0 non-null      float64
 15  Commodity         2669 non-null   object
 16  Data Item         2669 non-null   object
 17  Domain            2669 non-null   object
 18  Domain Category   2669 non-null   object
 19  Value             2669 non-null   object
 20  CV (%)            0 non-null      float64
dtypes: float64(10), int64(2), object(9)
memory usage: 438.0+ KB

In [15]:
# 7

In [16]:
# the value column is a string, even though it has numbers, it needs to be clean to an integer so we can do math

In [17]:
x = '8,000' # test case

In [18]:
# create a function

In [19]:
# a function that takes string type number to an integer type
def cleanValue(n):
    clean_n = n.replace(',', '')
    final_n = int(clean_n)
    # remove the comma and make the numner into a integer
    
    
    return final_n

In [20]:
cleanValue('9,000')

9000

In [21]:
# create a new column that is derived from the Value column
bees['clean_value'] = bees['Value'].apply(cleanValue)

In [22]:
bees.head()

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,County ANSI,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%),clean_value
0,SURVEY,2021,MARKETING YEAR,NaN,STATE,ALABAMA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"8,000",NaN,8000
1,SURVEY,2021,MARKETING YEAR,NaN,STATE,ARIZONA,4.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"26,000",NaN,26000
2,SURVEY,2021,MARKETING YEAR,NaN,STATE,ARKANSAS,5.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"17,000",NaN,17000
3,SURVEY,2021,MARKETING YEAR,NaN,STATE,CALIFORNIA,6.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"290,000",NaN,290000
4,SURVEY,2021,MARKETING YEAR,NaN,STATE,COLORADO,8.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"29,000",NaN,29000

In [23]:
bees['clean_value'].sum()

168187390

In [24]:
# but!!! there are 168 million bee colonies in US- Wrong.

In [25]:
# 5

In [26]:
bees.head(1)

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,County ANSI,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%),clean_value
0,SURVEY,2021,MARKETING YEAR,NaN,STATE,ALABAMA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"8,000",NaN,8000

In [27]:
bees.Year.unique() # this data go back all the way to 1987

array([2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011,
       2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000,
       1999, 1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990, 1989,
       1988, 1987], dtype=int64)

In [28]:
bees.State.unique()

array(['ALABAMA', 'ARIZONA', 'ARKANSAS', 'CALIFORNIA', 'COLORADO',
       'FLORIDA', 'GEORGIA', 'HAWAII', 'IDAHO', 'ILLINOIS', 'INDIANA',
       'IOWA', 'KANSAS', 'KENTUCKY', 'LOUISIANA', 'MAINE', 'MICHIGAN',
       'MINNESOTA', 'MISSISSIPPI', 'MISSOURI', 'MONTANA', 'NEBRASKA',
       'NEW JERSEY', 'NEW YORK', 'NORTH CAROLINA', 'NORTH DAKOTA', 'OHIO',
       'OREGON', 'OTHER STATES', 'PENNSYLVANIA', 'SOUTH CAROLINA',
       'SOUTH DAKOTA', 'TENNESSEE', 'TEXAS', 'UTAH', 'VERMONT',
       'VIRGINIA', 'WASHINGTON', 'WEST VIRGINIA', 'WISCONSIN', 'WYOMING',
       'CONNECTICUT', 'MARYLAND', 'MASSACHUSETTS', 'NEW MEXICO',
       'OKLAHOMA', 'NEVADA', 'DELAWARE', 'NEW HAMPSHIRE', 'RHODE ISLAND'],
      dtype=object)

In [29]:
# 10 group the data by year and get the number of bees colonies

In [30]:
bees.groupby('Year')['clean_value'].sum()

Year
1987     3316000
1988     3370000
1989     3528000
1990     3220000
1991     3211000
1992     3045000
1993     2875000
1994     2783000
1995     2655000
1996     2581000
1997     2631000
1998     2637000
1999     2652000
2000     2622000
2001     2550000
2002     2574000
2003     2599000
2004     2554000
2005     2409000
2006     2394000
2007     2443000
2008     2342000
2009     2498000
2010     2692000
2011     2491000
2012     2539000
2013     2641000
2014     2741000
2015    14342750
2016    14414650
2017    13863510
2018    13956860
2019    11677540
2020    14864770
2021     8474310
Name: clean_value, dtype: int64

In [31]:
# 3

In [32]:
# look at 2021 only

In [33]:
bees_now = bees[bees['Year'] == 2021] # not accurate because of Period column

In [34]:
len(bees_now)

133

In [35]:
# 6

In [36]:
bees_now.Period.value_counts() # how frequently do the Period column values appear in this dataframe

FIRST OF JAN      46
FIRST OF APR      46
MARKETING YEAR    41
Name: Period, dtype: int64

In [37]:
# contact USDA
# I am looking for someone to help me answer questions around how bee colony surveys are conducted-
# I was looking at data from xx site-

In [38]:
# 4 filter on 'Period' then get totals by year

In [39]:
jan_counts = bees[bees['Period'] == 'FIRST OF JAN'] # filter dataframe to only contain 'first of jan' in period column

In [40]:
jan_counts.groupby('Year')['clean_value'].sum()

Year
2015    2824610
2016    2619940
2017    2641090
2018    2635220
2019    2671470
2020    2876100
2021    2923240
Name: clean_value, dtype: int64

In [41]:
# 8
# still filter to 2021, but only for jan counts

In [42]:
jan_counts_2021 = jan_counts[jan_counts.Year == 2021]

In [43]:
len(jan_counts_2021)

46

In [44]:
jan_counts_2021['State'].nunique() # there are 4 states without bee colonies(or hasn't been counted) - wrong

46

In [45]:
jan_counts_2021['State'].unique() # there are 45 states and they grouped 5 states together

array(['ALABAMA', 'ARIZONA', 'ARKANSAS', 'CALIFORNIA', 'COLORADO',
       'CONNECTICUT', 'FLORIDA', 'GEORGIA', 'HAWAII', 'IDAHO', 'ILLINOIS',
       'INDIANA', 'IOWA', 'KANSAS', 'KENTUCKY', 'LOUISIANA', 'MAINE',
       'MARYLAND', 'MASSACHUSETTS', 'MICHIGAN', 'MINNESOTA',
       'MISSISSIPPI', 'MISSOURI', 'MONTANA', 'NEBRASKA', 'NEW JERSEY',
       'NEW MEXICO', 'NEW YORK', 'NORTH CAROLINA', 'NORTH DAKOTA', 'OHIO',
       'OKLAHOMA', 'OREGON', 'OTHER STATES', 'PENNSYLVANIA',
       'SOUTH CAROLINA', 'SOUTH DAKOTA', 'TENNESSEE', 'TEXAS', 'UTAH',
       'VERMONT', 'VIRGINIA', 'WASHINGTON', 'WEST VIRGINIA', 'WISCONSIN',
       'WYOMING'], dtype=object)

In [46]:
# 9 which state as the most bee colonies in January of 2021

In [47]:
jan_counts_2021['clean_value'].max()

1240000

In [48]:
jan_counts_2021['clean_value'].sum()

2923240

In [49]:
1240000/2923240

0.42418686115406196

In [50]:
# Filter database on max value

In [51]:
jan_counts_2021[jan_counts_2021['clean_value'] == jan_counts_2021['clean_value'].max()]

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,County ANSI,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%),clean_value
44,SURVEY,2021,FIRST OF JAN,NaN,STATE,CALIFORNIA,6.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"1,240,000",NaN,1240000

In [52]:
# Focus on California

In [53]:
jan_counts

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,County ANSI,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%),clean_value
41,SURVEY,2021,FIRST OF JAN,NaN,STATE,ALABAMA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"10,000",NaN,10000
42,SURVEY,2021,FIRST OF JAN,NaN,STATE,ARIZONA,4.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"29,000",NaN,29000
43,SURVEY,2021,FIRST OF JAN,NaN,STATE,ARKANSAS,5.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"21,000",NaN,21000
44,SURVEY,2021,FIRST OF JAN,NaN,STATE,CALIFORNIA,6.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"1,240,000",NaN,1240000
45,SURVEY,2021,FIRST OF JAN,NaN,STATE,COLORADO,8.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"3,000",NaN,3000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1294,SURVEY,2015,FIRST OF JAN,NaN,STATE,VIRGINIA,51.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"8,000",NaN,8000
1295,SURVEY,2015,FIRST OF JAN,NaN,STATE,WASHINGTON,53.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"52,000",NaN,52000
1296,SURVEY,2015,FIRST OF JAN,NaN,STATE,WEST VIRGINIA,54.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"4,700",NaN,4700
1297,SURVEY,2015,FIRST OF JAN,NaN,STATE,WISCONSIN,55.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"16,500",NaN,16500
1298,SURVEY,2015,FIRST OF JAN,NaN,STATE,WYOMING,56.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"5,500",NaN,5500

In [60]:
cali = jan_counts[jan_counts['State'] == 'CALIFORNIA']

In [61]:
cali.groupby('Year')['clean_value'].sum()

Year
2015    1440000
2016    1130000
2017    1170000
2018    1150000
2019    1140000
2020    1350000
2021    1240000
Name: clean_value, dtype: int64

In [62]:
cali

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,County ANSI,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%),clean_value
44,SURVEY,2021,FIRST OF JAN,NaN,STATE,CALIFORNIA,6.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"1,240,000",NaN,1240000
177,SURVEY,2020,FIRST OF JAN,NaN,STATE,CALIFORNIA,6.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"1,350,000",NaN,1350000
402,SURVEY,2019,FIRST OF JAN,NaN,STATE,CALIFORNIA,6.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"1,140,000",NaN,1140000
581,SURVEY,2018,FIRST OF JAN,NaN,STATE,CALIFORNIA,6.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"1,150,000",NaN,1150000
806,SURVEY,2017,FIRST OF JAN,NaN,STATE,CALIFORNIA,6.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"1,170,000",NaN,1170000
1031,SURVEY,2016,FIRST OF JAN,NaN,STATE,CALIFORNIA,6.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"1,130,000",NaN,1130000
1256,SURVEY,2015,FIRST OF JAN,NaN,STATE,CALIFORNIA,6.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"1,440,000",NaN,1440000

In [63]:
bees.sort_values('Year')

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,County ANSI,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%),clean_value
2668,SURVEY,1987,MARKETING YEAR,NaN,STATE,WYOMING,56.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"39,000",NaN,39000
2640,SURVEY,1987,MARKETING YEAR,NaN,STATE,MICHIGAN,26.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"93,000",NaN,93000
2639,SURVEY,1987,MARKETING YEAR,NaN,STATE,MASSACHUSETTS,25.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"11,000",NaN,11000
2638,SURVEY,1987,MARKETING YEAR,NaN,STATE,MARYLAND,24.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"7,000",NaN,7000
2637,SURVEY,1987,MARKETING YEAR,NaN,STATE,MAINE,23.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"9,000",NaN,9000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,SURVEY,2021,FIRST OF APR,NaN,STATE,HAWAII,15.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"21,000",NaN,21000
96,SURVEY,2021,FIRST OF APR,NaN,STATE,IDAHO,16.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"86,000",NaN,86000
97,SURVEY,2021,FIRST OF APR,NaN,STATE,ILLINOIS,17.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"13,000",NaN,13000
83,SURVEY,2021,FIRST OF JAN,NaN,STATE,WASHINGTON,53.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"48,000",NaN,48000
0,SURVEY,2021,MARKETING YEAR,NaN,STATE,ALABAMA,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,HONEY,"HONEY, BEE COLONIES - INVENTORY, MEASURED IN C...",TOTAL,NOT SPECIFIED,"8,000",NaN,8000

In [ ]:
# NOO
# (new value-old value) /old value
# for example: cali data? why increase 18%?